body {
  background: #d471ea;
  color: #fff;
}

header {
  width: 100%;
  text-align: center;
  background: transparent url(cssimages/cuddling.jpg) no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  color: #2fff0a;
}

ul {
  list-style-type: none;
}

a {
  color: #f3ff0f;
  text-decoration: none;
}

#headerImage {
  width: 700px;
}

#dogPlay {
  width: 200px;
}

.navLinks li {
    display: inline-block;
    width: 200px;
}

.ExtraDiv {
  border: 1px solid;
  height: 300px;
  width: 300px;
}

#salmonItem {

}
